/* CANVAS */
#canvas-container {
  padding-top: 60px;
  padding-left: 25%;
}

#myCanvas {
  width: 700px;
  height: 700px;
  display: block;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px #f4f1f1;
}

.tool-control {
  bottom: 50px;
  height: 160px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#tool-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.tool-float {
  width: 85px;
  height: 85px;
  background-color: transparent;
  color: #1da1f2;
  border-radius: 50px;
  border-width: 0px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.tool-image {
  width: 40px;
  pointer-events: none;
}
.slidecontainer {
  bottom: 170px;
  left: 30%;
  width: 520px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 20px;
  border-width: 0.5px;
  border-style: solid;
  border-color: silver;
  box-shadow: 5px 5px 5px 5px #f4f1f1;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  display: inline-block;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 500%;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(181, 181, 181);
  background: #1da1f2;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-width: 0.5px;
  border-style: solid;
  border-color: silver;
  background: white;
  cursor: pointer;
}

#color-picker {
  position: absolute;
  bottom: 200px;
  width: 140px;
  height: 140px;
  left: 60px;
  border-radius: 10%;
  border-width: 0px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
