/* COLORING CONTROL PANEL */
#color-palette {
  width: 160px;
  /* background-color: #f1f1f1; */
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50px;
  left: 50px;
}

.swatch {
  width: 64px;
  height: 64px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(247, 237, 237);
}
