<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Basic uses &amp; Palette (swatch) - jscolor Example</title>
</head>

<body>





<script src="jscolor.js"></script>

<p>
    Color:
    <input data-jscolor="{}" value="#3399FF">
</p>

<p>
    Color with alpha:
    <input data-jscolor="{}" value="#3399FF80">
</p>

<p>
    Dark picker + button:
    <button data-jscolor="{preset:'dark', width:250, paletteCols:15, value:'rgba(51,153,255,0.5)'}"></button>
</p>

<p>
    Custom:
    <input data-jscolor="{value:'rgba(51,153,255,0.5)', position:'bottom', height:80, backgroundColor:'#333',
                          palette:'rgba(0,0,0,0) #fff #808080 #000 #996e36 #f55525 #ffe438 #88dd20 #22e0cd #269aff #bb1cd4',
                          paletteCols:11, hideOnPaletteClick:true}">
    (configured to hide upon clicking bottom palette)
</p>

<script>
// Here we can adjust defaults for all color pickers on page:
jscolor.presets.default = {
    position: 'right',
    palette: [
        '#000000', '#7d7d7d', '#870014', '#ec1c23', '#ff7e26',
        '#fef100', '#22b14b', '#00a1e7', '#3f47cc', '#a349a4',
        '#ffffff', '#c3c3c3', '#b87957', '#feaec9', '#ffc80d',
        '#eee3af', '#b5e61d', '#99d9ea', '#7092be', '#c8bfe7',
    ],
    //paletteCols: 12,
    //hideOnPaletteClick: true,
};
</script>






</body>
</html>
<!-- Downloaded from http://jscolor.com -->